app = "valortrustfinance"
primary_region = "sjc"

[build]
  dockerfile = "Dockerfile"

[env]
  DEBUG = "0"
  PYTHONDONTWRITEBYTECODE = "1"
  PYTHONUNBUFFERED = "1"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

  [[http_service.ports]]
    handlers = ["http"]
    port = 80

  [[http_service.ports]]
    handlers = ["tls", "http"]
    port = 443

[mounts]
  source = "data"
  destination = "/app/data"
